<html>

<head>
    <title>Games server</title>
    <link rel="stylesheet" href="/stylesheets/milligram.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="<%= game %>">
    <h1>
        <%= game %> best scores
    </h1>
    <h5>
        <% otherGames.forEach(function(game) { %>
            <a href="/<%= game %>" class="button"><%= game %></a>
        <% }); %>
    </h3>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Score</td>
                <% if (admin) { %>
                    <td>Auth key</td>
                <% } %>
            </tr>
        </thead>
        <% data.forEach(function(row) { %>
            <tr>
                <td><%= row.name %></td>
                <td><%= row.score %></td>
                <% if (admin) { %>
                    <td><%= row.key %></td>
                <% } %>
            </tr>
        <% }); %>
    </table>
</body>

</html>
